{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "syntax-trailing-function-commas",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        ["@babel/plugin-transform-runtime", {"useESModules": true}],
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ],
      "presets": [["@babel/preset-env", {"modules": false}]]
    },
    "test": {
      "sourceMaps": "both",
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "lodash-es": "lodash"
            }
          }
        ],
        "dynamic-import-node-babel-7"
      ],
      "presets": ["@babel/preset-env"]
    }
  }
}
